body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* background-color: aliceblue; */
    margin: 0;
}

.header {
    text-align: center;
}
.avatar {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: left;
}

.header_title {
}

.header_subtitle {
    color: rgb(45, 133, 177);
}

main {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.gallery img {
    width: 250px;
}
.separator {
    width: 50%;
    height: 3px;
    background-color: #7ab7f1;
}
.video {
    width: 600px;
}

.ed_table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
.ed_table th,
.ed_table td {
    border: 1px solid black;
    padding: 10px;
}

.quate{
    font-size: 32px;
}

.form_control{
    display: block;
    margin: 0 auto;
    width: 60%;
}
.form{
    width: 600px;
    margin: 0 auto;;
}

.contol_textarea{
    height: 100px;
    width: 80%;
    
}

.form_submit{
    display: block;
    margin: 0 auto;
}

footer{
    height: 100px;
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;
}

.address a{
    text-decoration: none;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    padding: 0;
}